.company-login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;

  background-image: url("../Images/Warehouse2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: Arial, sans-serif;
}

.company-login-page .main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 50px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

.company-login-page label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.company-login-page input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.company-login-page button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: skyblue;
  width: 100%;
  font-size: 16px;
}
