body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  background-image: url("../Images/Warehouse7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.main {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 5%;
  text-align: center;
}

button {
  padding: 5px 5px;
  margin-top: 5%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  text-align: left;
  margin-top: 8px;
  font-weight: bold;
}

input,
select {
  margin-top: 4px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

