.messages-page {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  min-height: 60vh;
  min-width: 60vw;
  padding: 40px;

  background-image: url("../Images/Warehouse5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.messages-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}

.messages-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.message-card {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.message-card p {
  margin: 5px 0;
}

.message-text span {
  white-space: pre-line;
}

.messages-container button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messages-container button:hover {
  background-color: #45a049;
}
